body {
    background-color: #3b3b4f;
    color: #ffffff;
    font-family: tahoma;
    min-width: 350px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
}

#survey-form {
    padding: 20px 20px
}

h1,
p {
    margin: 1em auto;
    text-align: center;
}

fieldset {
    border: none;
}

textarea,
#dropdown,
#fs1 input {
    display: block;
    width: 100%;
    padding: 2px 3px;
    font-size: 16px;
    margin: 5px 0;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid gray;
    background-color: gray;
    color: white;
}